# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Node modules
node_modules/
resume.json
*.mov

# Logs
logs
*.log
npm-debug.log*

# Chrome extension build
dist/

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db


assets/